.st0{fill:#FFFFFF;}
#gk1 .st1{fill:#FFFDF1;}
#gk1 .st2{fill:#E5E1F2;}
#gk1 .st3{fill:none;}
#gk1 .st4{fill:#EBE9DD;}
#gk1 .st5{fill:#FFC99B;}
#gk1 .st6{fill:none;stroke:#CDC7D2;stroke-width:8;stroke-miterlimit:10;}
#gk1 .st7{fill:#55545B;}
#gk1 .st8{font-family: 'ArialMT', sans-serif;}
#gk1 .st9{font-size:48px; display: none}
#gk1 .st10{font-size:40px; display: none}
#gk1 .st11{fill:#0693F8;}
#gk1 .st12{fill:#616261;}

#gk1 .st2:hover {  fill:#FF9388;  }
#gk1 .st3:hover {  fill:#FF9388;  }
#gk1 .st5:hover {  fill:#FF9388;  }

#gk2 .st1{fill:#FFFDF1;}
#gk2 .st2{fill:#EBE9DD;}
#gk2 .st3{fill:#E5E1F2;}
#gk2 .st4{fill:none;stroke:#CDC7D2;stroke-width:8;stroke-miterlimit:10;}
#gk2 .st5{fill:#55545B;}
#gk2 .st6{font-family: 'ArialMT', sans-serif;}
#gk2 .st7{font-size:48px; display: none}
#gk2 .st8{font-size:40px; display: none}
#gk2 .st9{fill:#0693F8;}
#gk2 .st10{fill:#616261;}

#gk2 .st3:hover {  fill:#FF9388;  }

#gk3 .st1{fill:#FFFDF1;}
#gk3 .st2{fill:#EBE9DD;}
#gk3 .st3{fill:#E5E1F2;}
#gk3 .st4{fill:none;stroke:#CDC7D2;stroke-width:8;stroke-miterlimit:10;}
#gk3 .st5{fill:#55545B;}
#gk3 .st6{font-family: 'ArialMT', sans-serif;}
#gk3 .st7{font-size:48px; display: none}
#gk3 .st8{font-size:40px; display: none}
#gk3 .st9{fill:#0693F8;}
#gk3 .st10{fill:#616261;}

#gk3 .st3:hover {  fill:#FF9388;  }

#gk4 .st1{fill:#FFFDF1;}
#gk4 .st2{fill:#EBE9DD;}
#gk4 .st3{fill:#E5E1F2;}
#gk4 .st4{fill:none;stroke:#CDC7D2;stroke-width:8;stroke-miterlimit:10;}
#gk4 .st5{fill:#55545B;}
#gk4 .st6{font-family: 'ArialMT', sans-serif;}
#gk4 .st7{font-size:48px; display: none}
#gk4 .st8{fill:#0693F8;}
#gk4 .st9{fill:#616261;}

#gk4 .st3:hover {  fill:#FF9388;  }

svg {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
}

#gk1 {
    position: absolute;
}

#gk2 {
    position: absolute;
}

#gk3 {
    position: absolute;
}

#gk4 {
    position: absolute;
}

#tusur_gk {
    width: 100%;
    height: 100%;
    z-index: -1;
}

html {
    overflow: hidden;
}

#buttons {
    z-index: 111;
    position: absolute;
    right: 2em;
    top: 30%;
    width: 5%;
    height: 300px;
}

#scaleBtns {
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
}

#btn_plus {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#btn_minus {
    display: block;
    margin-left: 5px;
    margin-right: 5px;
}

#floorButtons {
    width: 100%;
    height: 210px;
}

.floorbtns {
    display: block;
    margin-left: auto;
    margin-right: auto;
}